* {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:root {
  --primary-color: #1a202c;
  --white-color: #ffffff;
  --black-color: #000000;
  --background-color: #cdebf3;
  --accent-color: #fec60f;
  --accent-blue-color: #1d81f3;
  --gray-color: #111111;
}

.header {
  background-color: var(--primary-color);
  width: 100%;
  height: 94px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header > * {
  display: flex;
  align-items: center;
}

.header .title {
  font-weight: 700;
  font-size: 24px;
  color: var(--white-color);
}

.accent-text {
  color: var(--accent-color) !important;
}

.black-text {
  color: var(--black-color) !important;
}

.logout-button {
  width: 123px;
  height: 56px;
  border-radius: 10px;
  background-color: var(--accent-color);
  margin-right: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  height: 100%;
}

.sidebar {
  display: flex;
  width: 326px;
  background-color: var(--primary-color);
  padding: 20px;
  flex-direction: column;
}

.sidebar > .sidebar-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid var(--white-color);
}

.sidebar > .sidebar-top > span {
  font-family: "Kavoon";
  color: var(--white-color);
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.sidebar > .sidebar-bottom {
  display: flex;
  margin-top: 20px;
}

.sidebar > .sidebar-bottom .sidebar-button {
  display: flex;
  padding: 19px;
  font-weight: 700;
  font-size: 24px;
  color: var(--white-color);
  align-items: center;
  cursor: pointer;
}

.sidebar > .sidebar-bottom .sidebar-button.is-active {
  color: var(--black-color);
  background-color: var(--accent-color);
  border-radius: 10px;
}

.collapsible {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s;
  pointer-events: none;
}

.collapsible.is-open {
  opacity: 1;
  pointer-events: auto;
}

.collapsible-sidebar-button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.is-arrow-down {
  transform: rotate(180deg);
}

.content {
  flex: 1;
  height: 100%;
  background-color: var(--background-color);
  color: var(--black-color);
}

.content > div {
  display: flex;
  padding: 30px;
  flex-direction: column;
}

.content .title {
  font-family: "Poppins";
  color: var(--black-color);
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 40px;
}

.content .today-sales {
  border-radius: 40px;
  display: flex;
  padding: 30px 40px;
  background-color: var(--white-color);
  flex-direction: column;
}

.content .today-sales > .item-grid {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content .today-sales > .item-grid > div {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.content .today-sales > .item-grid > div > .item {
  background-color: #ffe2e6;
  height: 257px;
  width: 242px;
  display: flex;
  border-radius: 30px;
  flex-direction: column;
}

.content .today-sales > .item-grid > div > .item > :first-child {
  margin-top: 30px;
}

.content .today-sales > .item-grid > div > .item > * {
  margin-right: 30px;
  margin-left: 30px;
}

.content .today-sales > .item-grid > div > .item > .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 43px;
  border-radius: 43px;
  background-color: #f9597d;
  margin-bottom: 10px;
}

.content .today-sales > .item-grid > div > .item > .big-text {
  font-family: Inter;
  font-size: 27px;
  font-weight: 800;
}

.content .today-sales > .item-grid > div > .item > .small-text {
  font-family: Inter;
  font-size: 24px;
  margin-top: 15px;
  font-weight: 500;
}

.content .today-sales > .item-grid > div > .item > .percent-text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: 25px;
  color: var(--accent-blue-color);
}

.content .subtitle {
  font-family: "Inter";
  font-weight: 600;
  font-size: 30px;
  color: var(--accent-blue-color);
}

.content .small {
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  color: var(--gray-color);
  opacity: 0.6;
}

.content .table-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin-top: 50px;
}

.content .table-grid > div {
  background-color: aliceblue;
  height: 345px;
  width: 466px;
  border-radius: 47px;
}
